{% extends 'base.html.twig' %}

{% block body %}

<!-- MainContent -->
   <!-- Banner Start -->
   <div class="video-container iq-main-slider">
      {% if currentEpisode.videoUrl is not null %}
          <video class="video d-block" controls>
              <source src="{{ currentEpisode.videoUrl }}" type="video/mp4">
          </video>
      {% else %}
          {% if vich_uploader_asset(currentEpisode, 'videoFile') is not null %}
              <video class="video d-block" controls>
                  <source src="{{ vich_uploader_asset(currentEpisode, 'videoFile') }}" type="video/mp4">
              </video>
          {% else %}
              <p>La vidéo est non disponible pour le moment. Elle arrive très bientôt, restez branchés 😉</p>
          {% endif %}
      {% endif %}
  </div>
 <!-- Banner End -->
<div class="main-content">
    <section class="movie-detail container-fluid">
       <div class="row">
          <div class="col-lg-12">
             <div class="trending-info season-info g-border">
               <h1 class="trending-text big-title text-uppercase mt-0 personal_title_h1">{{Anime.titre}}</h1>
                <div class="d-flex flex-column align-items-flex-lefttext-white text-detail episode-name mb-0">
                     {% for saison in saison %}
                    {% for episode in autresEpisodes %}
                    <span>S0{{saison.saison_number}}E0{{episode.episode_number}}</span>
                   <span class="trending-year">{{episode.episode_name}}</span>
                </div>
                     {% endfor %}        
                  {% endfor %}
                  <p class="trending-dec w-100 mb-0">{{ currentEpisode.descriptionepisode|raw}}</p>
                <ul class="list-inline p-0 mt-4 share-icons music-play-lists">
                   <li><span><i class="ri-add-line"></i></span></li>
                   <li><span><i class="ri-heart-fill"></i></span></li>
                   <li class="share">
                      <span><i class="ri-share-fill"></i></span>
                      <div class="share-box">
                         <div class="d-flex align-items-center">
                            <a href="#" class="share-ico"><i class="ri-facebook-fill"></i></a>
                            <a href="#" class="share-ico"><i class="ri-twitter-fill"></i></a>
                            <a href="#" class="share-ico"><i class="ri-links-fill"></i></a>
                         </div>
                      </div>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </section>
    <section id="iq-favorites">
       <div class="container-fluid">
          <div class="block-space">
             <div class="row">
                <div class="col-sm-12 overflow-hidden">
                   <div class="iq-main-header d-flex align-items-center justify-content-between">
                      <h4 class="main-title">Tous les episodes</h4>
                      <a href="{{path('show_anime',{'slug': Anime.slug, 'id': Anime.id})}}" class="text-primary">Voir tout</a>
                   </div>
                </div>
             </div>
             <div class="row">
          <div class="tab-content">
          <div id="episodes" class="tab-pane fade active show" role="tabpanel">
             <div class="block-space">
                <div class="row">
                  {% for episode in listEpisodes %}
                  {% set url = path('show_episode',{'slug':Anime.slug,'id':Anime.id,'numero_de_saison':episode.saisonid.numerodesaison, 'numero_d_episode': episode.numerodepisode}) %}  
                  <div class="col-1-5 col-md-6 iq-mb-30">
                      <div class="epi-box">
                         <div class="epi-img position-relative">
                            <img src="{{ vich_uploader_asset(episode, 'imageFile') }}" class="img-fluid img-zoom" alt="">
                            <div class="episode-number">{{episode.numerodepisode}}</div>
                            <div class="episode-play-info">
                               <div class="episode-play">
                                  <a href="{{url}}">
                                     <i class="ri-play-fill"></i>
                                  </a>
                               </div>
                            </div>
                         </div>
                         <div class="epi-desc p-3">
                            <div class="d-flex align-items-center justify-content-between">
                               <span class="text-white">{{episode.titreepisode}}</span>
                               <span class="text-primary">{{episode.dureeepisode}}m</span>
                            </div>
                            <a href="{{url}}">
                               <h6 class="epi-name text-white mb-0">{{episode.saisonid}} - Episode {{episode.numerodepisode}} {# {{saison.saison_number}} #}
                               </h6>
                            </a>
                            
                         </div>
                      </div>
                   </div>
                   {% endfor %}
                    {#{% endfor %}   
                   {% endfor %}   
                   {% endfor %}#}
                </div>
             </div>
          </div>
       </div>
    </section>
 </div>
{% endblock %}
