{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!-- Slider Start --><!-- Début Bannière déroulante -->
<section class="iq-main-slider p-0">
   <div id="tvshows-slider">

      {% for anime in Animes %}
     {% set url = path('show_anime',{'slug': anime.slug, 'id': anime.id}) %}
      <div>
         <a href="{{url}}"> {###}
            <div class="shows-img">
               <img src="{{ vich_uploader_asset(anime, 'imageFile') }}" class="w-100" alt="">
               <div class="shows-content">
                  <h4 class="text-white mb-1">{{anime.titre}}</h4>
                  <div class="movie-time d-flex align-items-center">
                     <div class="badge badge-secondary p-1 mr-2">{{anime.ageMax}} ans</div>
                        {% if anime.nbrDeSaisonsDansAnime > 1 %}
                        <span class="text-white"> {{anime.nbrDeSaisonsDansAnime}} Saisons</span> {##}
                        {% else %}
                        <span class="text-white"> {{anime.nbrDeSaisonsDansAnime}} Saison</span> {##}
                        {% endif %} 
                  </div>
               </div>
            </div>
         </a>
      </div>
      {% endfor %}
</section>
<!-- Slider End -->
<!-- MainContent -->
<div class="main-content">
   <section id="iq-favorites">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12 overflow-hidden">
               <div class="iq-main-header d-flex align-items-center justify-content-between">
                  <h4 class="main-title">Catalogue d'aminé</h4>
               </div>
               <div class="favorites-contens">
                  <ul class="favorites-slider list-inline  row p-0 mb-0">
                     {% for anime in Animes %}
                     {% set url = path('show_anime',{'slug': anime.slug, 'id': anime.id}) %} 
                     <li class="slide-item">
                        <a href="{{ url }}"> {#{{ url }}#}
                           <div class="block-images position-relative">
                              <div class="img-box">
                                 <img src="{{ vich_uploader_asset(anime, 'imageFile') }}" class="img-fluid" alt="">
                              </div>
                              <div class="block-description">
                                 <h6>{{anime.titre}}</h6>
                                 <div class="movie-time d-flex align-items-center my-2">
                                    <div class="badge badge-secondary p-1 mr-2">{{anime.ageMax}} ans</div>
                                       {% if anime.nbrDeSaisonsDansAnime > 1 %}
                                       <span class="text-white">{{anime.nbrDeSaisonsDansAnime}} Saisons</span> {##}
                                       {% else %}
                                       <span class="text-white">{{anime.nbrDeSaisonsDansAnime}} Saison</span> {##}
                                       {% endif %} 
                                 </div>
                                 <div class="hover-buttons">
                                    <span class="btn btn-hover"><i class="ri-play-line" aria-hidden="true"></i>
                                       Play</span>
                                 </div>
                              </div>
                              <div class="block-social-info">
                                 <ul class="list-inline p-0 m-0 music-play-lists">
                                    <li><span><i class="ri-volume-mute-fill"></i></span></li>
                                    <li><span><i class="ri-heart-fill"></i></span></li>
                                    <li><span><i class="ri-add-line"></i></span></li>
                                 </ul>
                              </div>
                           </div>
                        </a>
                     </li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>
</div> 
{% endblock %} 