<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        {% block meta %}
        <!-- Required meta tags --> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        <title>
            {% block title %}
                JStream - Site de Streaming !
            {% endblock %}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
           {% block stylesheets %}
        </title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico')}}" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <!-- Typography CSS -->
        <link rel="stylesheet" href="{{ asset('css/typography.css') }}">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="{{ asset('/css/owl.carousel.min.css') }}">
        <!-- Style -->
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css-v2/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/personal_style.css') }}" />
        <!-- Responsive -->
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" />
        <!-- Icones -->
        <link rel="stylesheet" href="{{ asset('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css') }}">
        <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')}}">
        {% endblock %}
    </head>
    
    <body>
        <div id="loading">
            <div id="loading-center">
            </div>
         </div>
        {% block body %}
        {% endblock %}
        {% if app.user and app.user.isVerified == false %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <div class="alert-message">
                <strong>Votre compte n'est pas encore activé</strong>. 
                <a href="{{path('resend_verif')}}">Renvoyer le lien d'activation.</a>
            </div>
        </div>
        {% endif %}
        {% include "_partials/_flash.html.twig" %} 

        <div id="back-to-top">
           <a class="top" href="#top" id="top"> <i class="ri-arrow-up-s-line"></i></i> </a>
        </div>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
                        {#{{ encore_entry_script_tags('app') }}#}
           <!-- jQuery, Popper JS -->
            <script src="{{ asset('js/jquery-3.4.1.min.js')}}"></script>
            <script src="{{ asset('js/popper.min.js')}}"></script>
           <!-- Bootstrap JS -->
            <script src="{{ asset('js/bootstrap.min.js')}}"></script>
            <!-- Slick JS -->
            <script src="{{ asset('js/slick.min.js')}}"></script>
            <!-- owl carousel Js -->
            <script src="{{ asset('/js/owl.carousel.min.js') }}"></script>
            <!-- select2 Js -->
            <script src="{{ asset('js/select2.min.js')}}"></script>
            <!-- Magnific Popup-->
            <script src="{{ asset('js/jquery.magnific-popup.min.js')}}"></script>
            <!-- Slick Animation-->
            <script src="{{ asset('js/slick-animation.min.js')}}"></script>
            <!-- Custom JS-->
            <script src="{{ asset('js/custom.js')}}"></script>                        
        {% endblock %}      
    </body>
</html>

