<footer class="mb-0">

   <div class="container_footer">
      <div class="footer_col1">
         <div class="footer_row1">
            <ul id="menu-footer-link" class="menu-footer-link">
               <li id="menu-item" class="menu-item">
                  <a href="{{path('condition_use')}}">
                     Cond.(s) d'utilisation(s)
                  </a>
               </li>
               <li id="menu-item" class="menu-item">
                  <a href="{{path('policy_privacy')}}">
                     Politique de Confidentialité
                  </a>
               </li>
               <li id="menu-item" class="menu-item">
                  <a href="{{path('faq')}}">
                     FAQ
                  </a>
               </li>
               <li id="menu-item" class="menu-item">
                  <a href="{{path('contact')}}">
                     Contact
                  </a>
               </li>
            </ul>
         </div>
         <div class="footer_row2">
            © 2023 JSTREAM. All Rights Reserved.
            All videos and shows on this platform are trademarks of, 
            and all related images and content are the property of, JSTREAM Inc. 
            Duplication and copy of this is strictly prohibited. All rights reserved.
         </div>
      </div>
      <div class="footer_col2">
         <p class="footer-link-title">Suivez nous :</p>
         <ul class="info-share"> 
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-google-plus"></i></li>
            <li><i class="fa fa-github"></i></li>
         </ul>
      </div>
      <div class="footer_col3">
         <p class="footer-link-title">Jstream App</p>
         <div class="container_img app-image">
            <img src="/./images/footer/apple.webp" alt="play-store" loading="lazy" class="content_img">
            <img src="/./images/footer/google-play.webp" alt="play-store" loading="lazy" class="content_img">
         </div>
      </div>
   </div>
    {# <div class="container-fluid">
       <div class="block-space">
          <div class="row">
             <div class="col-lg-3 col-md-4">
                <ul class="f-link list-unstyled mb-0">
                   <li><a href="{{ path('main_page') }}">Catalogue d'Animé</a></li>
                   <li><a href="{{ path('main_page') }}">Forum</a></li>
                </ul>
             </div>
             <div class="col-lg-3 col-md-4">
                <ul class="f-link list-unstyled mb-0">
                   <li><a href="https://lecvdejeremie.000webhostapp.com/index-1.html#legal">Mentions Légales</a></li>                        
                   <li><a href="https://lecvdejeremie.000webhostapp.com">Informations complémentaire</a></li>
                </ul>
             </div>
             <div class="col-lg-3 col-md-4">
                <ul class="f-link list-unstyled mb-0">
                   <li><a href="https://lecvdejeremie.000webhostapp.com">A propos de moi</a></li>
                   <li><a href="https://lecvdejeremie.000webhostapp.com">Contactez moi</a></li>
                </ul>
             </div>
             <div class="col-lg-3 col-md-12 r-mt-15">
                <div class="d-flex">
                   <a href="https://www.instagram.com/universanim/" class="s-icon">
                   <i class="ri-instagram-line"></i>
                   </a>
                   <a href="https://www.youtube.com/channel/UCSmzz4q91iK2p1lpZQVNeoQ" class="s-icon">
                <i class="ri-youtube-line"></i>
                </a>
                <a href="https://twitter.com/Zone_Anime10" class="s-icon">
                <i class="ri-twitter-line"></i>
                </a>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="copyright py-2">
       <div class="container-fluid">
          <p class="mb-0 text-center font-size-14 text-body">JEREM STREAM - 2021 Tout les droits sont réservés à Jérémie NGOYI ©</p>
       </div>
    </div> #}
 </footer>