{% extends 'base.html.twig' %}

{% block body %}
<section class="m-profile setting-wrapper">        
    <div class="container">
        <h4 class="main-title mb-4">Paramètres du compte</h4>
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="sign-user_card text-center">
                    <img src="images/user/user.jpg" class="rounded-circle img-fluid d-block mx-auto mb-3" alt="user">
                    <h4 class="mb-3">Gon Freaks</h4>
                    <p>Courte description de vous ici ! </p>
                    <a href="{{ path('modif_profil') }}" class="edit-icon text-primary">Modifier</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sign-user_card">
                    <h5 class="mb-3 pb-3 a-border">Détail personnel</h5>
                    <div class="row align-items-center justify-content-between mb-3">
                        <div class="col-md-8">
                            <span class="text-light font-size-13">Email</span>
                            <p class="mb-0"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="95f0edf4f8e5f9f0d5f2f8f4fcf9bbf6faf8">[email&#160;protégé]</a></p>
                        </div>   
                        <div class="col-md-4 text-md-right text-left">                      
                            <a href="{{ path('modif_profil') }}" class="text-primary">Changer</a>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between mb-3">
                        <div class="col-md-8">
                            <span class="text-light font-size-13">Mot de passe</span>
                            <p class="mb-0">**********</p>
                        </div>
                        <div class="col-md-4 text-md-right text-left">
                            <a href="{{ path('modif_profil') }}" class="text-primary">Changer</a>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between mb-3">
                        <div class="col-md-8">
                            <span class="text-light font-size-13">Date de naissance</span>
                            <p class="mb-0">08-03-1995</p>
                        </div>
                        <div class="col-md-4 text-md-right text-left">
                            <a href="{{ path('modif_profil') }}" class="text-primary">Changer</a>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-8">
                            <span class="text-light font-size-13">Language</span>
                            <p class="mb-0">Français</p>
                        </div>
                        <div class="col-md-4 text-md-right text-left">
                            <a href="{{ path('modif_profil') }}" class="text-primary">Changer</a>
                        </div>
                    </div>
                    <h5 class="mb-3 mt-4 pb-3 a-border">Détails d'abonnement</h5>
                    <div class="row justify-content-between mb-3">
                        <div class="col-md-8 r-mb-15">
                            <p>Système d'abonnement prévu pour Février 2021.</p>
                            <a href="{{ path('modif_profil') }}" class="btn btn-hover">Annuler l'abonnement</a>
                        </div>
                        <div class="col-md-4 text-md-right text-left">
                            <a href="{{ path('abonnement') }}" class="text-primary">Voir les plans d'abonnement</a>
                        </div>
                    </div>
                    <h5 class="mb-3 mt-4 pb-3 a-border">Détails des plans</h5>
                    <div class="row justify-content-between mb-3">
                        <div class="col-md-8">
                            <p>Premium</p>                                
                        </div>
                        <div class="col-md-4 text-md-right text-left">
                            <a href="{{ path('abonnement') }}" class="text-primary">Voir les Plans</a>
                        </div>
                    </div>
                    <h5 class="mb-3 pb-3 mt-4 a-border">Paramètres</h5>
                    <div class="row">
                        <div class="col-12 setting">
                            <a href="#" class="text-body d-block mb-1">Récente activité</a>
                            <a href="#" class="text-body d-block mb-1">Déconnecter tout les appareils </a>
                            <a href="#" class="text-body d-block">Télécharger vos informations personnelles</a>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}